<nav class="navbar navbar-expand-lg navbar-light bg-white bBottom mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo.png" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto -mb-2 mb-lg-0">          
          <li class="nav-item me-4">
            <div class="input-group">
              <input type="text" class="form-control brdr" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
              <button class="btn btn-outline-custom input-group-text" id="basic-addon2" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </li>
          <li class="nav-item align-self-end bradcrum">            
            <span>Production</span>><span>Dying</span>><span>Recipes</span>><span class="active">Cow</span>            
          </li>
        </ul>
        <a class="navbar-brand" [routerLink]="" (click)="logout()">
          <img src="../../assets/img1.png" class="logo" alt="">
        </a>
      </div>
    </div>
  </nav>