<div class="vHeight">
<div class="row h-100">
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-header">
                <strong class="txt-color">Task</strong>
                <nav>
                    <div class="nav nav-tabs -nav-pills nav-fill" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-daily-tab" data-bs-toggle="tab" data-bs-target="#nav-daily" type="button" role="tab" aria-controls="nav-daily" aria-selected="true">Daily</button>
                      <button class="nav-link" id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="false">Pending</button>
                      <button class="nav-link" id="nav-monthly-tab" data-bs-toggle="tab" data-bs-target="#nav-monthly" type="button" role="tab" aria-controls="nav-monthly" aria-selected="false">Monthly</button>
                    </div>
                  </nav>
                  
            </div>
            <div class="card-body">
                <div class="tab-content mb-3" id="nav-tabContent" style="height: 56%;">
                    <div class="tab-pane fade show active" id="nav-daily" role="tabpanel" aria-labelledby="nav-daily-tab">
                        
                    </div>
                    <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">

                    </div>
                    <div class="tab-pane fade" id="nav-monthly" role="tabpanel" aria-labelledby="nav-monthly-tab">
                        
                    </div>
                </div>
                <div class="tab-content" style="height: 40%;">

                </div>
            </div>
        </div>
    </div>
</div>
</div>
