<div class="vHeight">
<div class="row h-100">
    <div class="col-md-12">
        <div class="card mb-3 rightBoxArea">
            <div class="card-header pb-2">
                <strong class="txt-color1">Trends</strong>
            </div>
            <div class="card-body">

            </div>
        </div>

        <div class="card rightBoxArea">
            <div class="card-header pb-2">
                <strong class="txt-color1">Efficiency</strong>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
</div>