

<div class="vHeight flex-shrink-0 p-3 py-1 bg-white brdr" style="overflow: auto;">
    <ul class="list-unstyled ps-0 mb-0">
        <li class="nav-item">
            <a routerLink="" class="nav-link">
                <i class="fa fa-user-circle me-2" aria-hidden="true"></i><strong>Farzan Mirza</strong></a> 
        </li>
        <li class="nav-item  active">
            <a routerLink="" class="nav-link">
                <i class="fa fa-bell me-2" aria-hidden="true"><span class="badge badge-danger">{{notificationLength}}</span></i><strong>Notifications</strong></a> 
            <div class="notification">
                <ul>
                    <li *ngFor="let note of notification.slice(0,3)" class="mb-2">
                        <div class="d-flex">
                            <i class="fas fa-home me-2"></i>
                            <span>{{note.tittle}}</span>
                        </div>
                        <span class="dtime">{{note.time}}</span>
                    </li> 
                    <li class="text-end"><a routerLink="" >See all</a></li>                  
                </ul>
            </div>
        </li>
        <li class="border-top my-2"></li>
    </ul>
    <ul class="list-unstyled ps-0 mb-0 left-menu">
        <li class="nav-item" *ngFor="let n of menuList" (click)="select('main', n.name, $event);" [ngClass]="{active: isActive('main', n.name)}">
            <a class="nav-link"><i class="{{n.icon}} me-2"></i>{{n.name}}</a>
            <ul style="display:none;" class="-btn-toggle-nav list-unstyled pb-1 s-menu">
                <li class="nav-item" *ngFor="let child of n.subMenu" [ngClass]="{active: isActive('sub', child.label)}" (click)="select('sub', child.label, $event);">
                    <a class="">{{child.label}}</a>
                </li>
            </ul>
        </li>
    
        <li class="border-top my-2"></li>
        <li class="nav-item">
            <a class="nav-link" (click)="onShow()">
                <i class="fa {{(showMore)? 'fa-angle-up' :'fa-angle-down'}} me-2" aria-hidden="true"></i>{{(showMore)? "Show Less" :"Show More"}}</a> 
        </li>
    </ul>
    <ul class="list-unstyled ps-0 mb-0" *ngIf="showMore">
        <li class="nav-item">
            <a routerLink="" class="nav-link">
                <i class="fa fa-file me-2" aria-hidden="true"></i>Menu 1</a> 
        </li>
        <li class="nav-item">
            <a routerLink="" class="nav-link">
                <i class="fa fa-file me-2" aria-hidden="true"></i>Menu 2</a> 
        </li>
    </ul>
  </div>
