<div class="loader" *ngIf="isLoading">
  <div class="spinner-border text-secondary" role="status" >
    <span class="sr-only">Loading...</span>
  </div>
</div>
<main id="main" class="main">    
    <div class="container vh-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-sm-12 col-md-5 col-lg-4 main-box">
                <div class="login-logo"> <img class="img-fluid mx-auto d-block" src="../../assets/logo.png" alt=""></div>                
                <h2 class="text-center pt-5 mb-3">Login</h2>
                <form [formGroup]="form" (ngSubmit)="onSubmit()"> 
                  <div class="errMsg">{{this.errMsg}}</div>               
                    <div class="form-group mb-3">
                      <label class="form-label">Email ID</label>
                      <input type="text" formControlName="email" placeholder="abc@xyz.com" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['pattern']">Email is invalid</div>
                      </div>
                    </div>                
                    <div class="form-group mb-3">
                      <label class="form-label">Password</label>
                      <input type="password" formControlName="password" placeholder="*******" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                        <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                        <div *ngIf="f['password'].errors['maxlength']">Password must not exceed 24 characters</div>
                      </div>
                    </div> 
                    
                    <div class="form-group mb-3 text-center">
                      <button type="submit" class="btn btn-outline-custom">Sign In</button>                      
                    </div>
                </form>                
            </div>
        </div>
    </div>
</main>
