.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
}
section {
    display: block;
}
.section {
    position: relative;
    padding: 65px 0px;
}
form .form-control{
    border: 1px solid #9c9a9a;
}
form label{ color: #6c6c6c; font-weight: 600;}
.errMsg{
    text-align: center;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}
.login-logo{
    position: absolute;
    margin-top: -50px;
    width: 91%;
}
.login-logo img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 1px solid #ebe5e5;
}
.main-box{
    background-color: #fff;
    position: relative;
    border-radius: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 1rem;
}