<main>
    <div class="col-md-12">
      <app-header></app-header>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" >
          <app-left-panel></app-left-panel>
        </div>
        <div class="col-md-5">
          <app-middle-panel></app-middle-panel>
        </div>
        <div class="col-md-4">
          <app-right-panell></app-right-panell>
        </div>
      </div>        
    </div>
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
</main>
