/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgba(215,215,215,255);
}
.logo{
    width: 40px;
    height: 40px;
}
.bradcrum {
    font-size: 12px;
}
.nav-item .nav-link, .nav-tabs .nav-link{
    color: #666666;
    padding: 0.25rem 0rem;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.nav-link:hover, .nav-item.active ul li.nav-item a:hover ,.txt-color{
    color: #4aa0b4 !important;
}

.txt-color1{ color: #4aa0b4;}

.nav-link.active, .nav-item.active{
    color: #53b3e7 !important;
}

.nav-item.active .nav-link{
    border-bottom: 2px solid #53b3e7;
}
.nav-item.active ul{
    display:block !important;
  }
  .left-menu ul li a{
    padding: 5px 5px 5px 15px;
    color: #6f6f6f !important;
    display: block;
  }
.nav-item.active .nav-link{
    color: #53b3e7;
}
.nav-item.active ul li.nav-item.active a{
    color: #53b3e7 !important;
    border: 0;
}
.nav-item.active ul li.nav-item a{
    margin-left: 20px;
    cursor: pointer;
}
app-left-panel .flex-shrink.bg-white ul li.nav-item {
    font-size: 14px;
}
a i.fa {
    width: 24px;
    position: relative;
}
.bBottom{
    border-bottom: 2px solid #53b3e7;
}
.brdr{
    border: 2px solid #53b3e7;
}

.btn-outline-custom{
    border: 2px solid #53b3e7;
    color: #53b3e7;
}
.btn-outline-custom:hover{
    border: 2px solid #53b3e7;
    background-color: #53b3e7;
    color: #fff;
}
.notification ul{
    list-style: none;
    font-size: 10px;
    line-height: 14px;
    padding: 8px 0;
    color: #666666;
    font-weight: 600;
}
.notification ul li a{color: #666666;text-decoration: none;}
.notification ul li span{
    margin-left: 12px;
}
.notification ul li i {
    width: 10px;
    height: 10px;
    margin-top: 4px;
}
.card-header {
    padding: 0.5rem 1rem 0px 1rem;
}
.card-body{
    background-color: rgba(244,240,239,255);
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs button.nav-link {
    font-size: 14px;
    font-weight: 600;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    isolation: isolate;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #53b3e7;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #53b3e7;
}
.card-body .tab-content {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d6d4d5;
}
.notification ul li span.dtime{
    font-size: 9px;
    color: #53b3e7;
    margin-left: 30px;
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: #fff;
    border-top: 2px solid #53b3e7;
    font-size: 12px;
  }
  .vHeight{
    height: calc(100vh - 150px) !important;
  }
  .rightBoxArea{
    height: 48.5%;
  }
  .badge{
    position: absolute;
    width: 12px;
    height: 12px;
    font-size: 7px;
    padding: 2px;
    margin-top: -7px;
  }
  .badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(215, 215, 215, 0.75);
    z-index: 1;
}
.loader div{
    z-index: 2;
    top: 50%;
    left: 50%;
    position: absolute;
}